.row.upcoming-travels
            each travel in travels
                .col-md-6.col-lg-4.mb-4
                    .card
                        img(src=`/img/destiny_${travel.image}.jpg`, class="img-fluid card-img-top")
                        .card-body
                            h2=travel.title
                            p
                                i.fas.fa-calendar-alt
                                | Departure Date: #{travel.departure_date} - Return Date: #{travel.return_date}
                            p
                                i.fas.fa-dollar-sign
                                | #{travel.price}
                            p=travel.description.substr(0, 100)
                            a(href=`travels/${travel.id}`, class="btn btn-success btn-block") More Information